@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}
:root{
    --primary:#E65100;
    --second:#FFB300;
    --mini-second:#FFF3E0;
}
p{
    font-size: 14px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
}
.logo img {
    width: 100px;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
nav ul li {
    list-style: none;
    

}
nav ul li a {
    text-decoration: none;
    color: #999;
    transition: 0.5;
    font-size: 14px;
    
}
nav ul li a:focus {
    text-decoration: none;
    color: #E65100;
    border-bottom: 2px solid #E65100;
}
.on {
    padding: 8px 18px;
    border: none;
    background-color: var(--primary);
    color: #fff;
     border-radius: 8px;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;
}
.btn-nav button {
    padding: 8px 18px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;


}
.btn-nav .btn-inscription{
    background-color: var(--primary);
    color: #fff;
}
section{
    padding: 70px 8%;
}

.home-section{
    padding:80px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    background: url(images/banner-head-accueil.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.image {
   
    position: relative;
    z-index: 10;
}
.image .dispo {
    border-radius: 25px;
    padding: 2px 8px;
    background-color: #fff3e0cd;
    display: flex;
    
    color: #E65100;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    font-size: 12px;
    right: 12px;

}
.dispo p{
    font-size: 10px;
    font-weight: 500;
}
.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:#531f038b ;
}

.left h1 span{
    color: #FFB300;
    
}.left h1 {
    color: #fff;
    
}
.left p {
    color: #e0e0e0;
    width: 90%;
    
}
.left{
    z-index: 10;
    
    padding: 30px 20px;
    height: 100%;
}
.stat{
    padding: 40px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mini-second);
    gap: 30px;
}
.stat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
   
    border-radius: 20px;
    padding: 20px 10px;
    width: 20%;
}
.stat-card p{
    font-size: 14px;
    color: #4f4f4f;
}
.stat-card h3 {
     color: var(--primary);
}
.service{
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.map svg {
    position: absolute;
    top: -26px;
    right: 200px;
    transform: rotate(3deg);
}
.service .sertop {
    color: #4f4f4f;
}
.service p {
    color: #4f4f4f;
}
.gallery-service{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.service-card{
    display: flex;
    flex-direction: column;
    background-color:#FEF3C6;
    border-radius: 20px;
    padding: 20px 16px;
    width: 30%;
    
    align-items: start;
    justify-content: space-between;

}
.tp{
    background-color:#FEFBEA;

}
.service-card p {
    font-size: 12px;
}
.service-card a {
    font-size: 12px;
    color: #E65100;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: underline;
}
.service-card h3 {
    font-size: 16px;
    color: var(--primary);
}
.map{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--mini-second);
    justify-content: center;
    position: relative;
}
.avis{
display: flex;
    align-items: center;
    flex-direction: column;
   
    justify-content: space-between;

}
.avis h2 {
    margin-bottom: 30px;
}
.p1{
    background-color: #e7e5e5;
}
.p2{
    background-color: #ffab4cdc;
}
.p3{
    background-color: #ffee2fd1;
}
.p4{
    background-color: #55f22ace;
}
.carte iframe{
    margin-top: 30px;
    border-radius: 20px;
}
.card-avis{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 230px;
    box-shadow: 2px 2px 10px #999;
    padding: 20px;
    border-radius: 10px;

}
.avis-gallery{
    display: flex;
    gap: 30px;
}
.haut-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}
.photo{
    
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #FFB300 ;

}
.photo p{
    font-weight: 600;
}

.nom-card p{
     font-weight: 500;
    
}
.desc-avis {
    font-size: 10px;
    font-style: oblique;
    
}
.nom-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-content: center;
}
.rating{
    display: flex;
    gap: 5px;
    
   
}
.rating i {
    font-size: 10px;
    color: #FFB300;
}
.rating .off {
    
    color: #a3a3a3;
}
.post-footer{
    padding:60px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    background: url(images/banner-head-accueil.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-footer{
    z-index: 100;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 20px;
}
.text-footer h2{
    text-align: center;
    color: #fff;
}
.text-footer button{
    padding: 8px 18px;
    border: none;
    background-color: var(--mini-second);
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 600;
    color: var(--primary);

}
.text-footer p {
    color: #e0e0e0;
}

footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0px 8%;
    
    width: 100%;
    background-color: #14172f;

}
footer .bas-footer{
    display: flex;
    align-items: center;
    padding:20px 0%;
    justify-content: center;
    border-top: 1px solid #999;
    width: 100%;
    color: #999;
    
}
footer .bas-footer p{
    font-size: 10px;
}
footer .haut-footer {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: start;
}
footer .haut-footer .footer-card{
    padding:20px 5px;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    
}
 footer .haut-footer .footer-card ul li a {
    text-decoration: none;
    color: #999;
    font-size: 10px;
}

 footer .haut-footer .footer-card ul li  {
    list-style: none;
}

 footer .haut-footer .footer-card h4  {
    margin-bottom: 5px;
    color: #fff;
}
.foot-logo a i  {
    font-size: 24px;
}
.foot-logo{
    margin-top: 5px;
}



.hero-traiteur{
    padding:60px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    background: url(images/banner-caterers.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.text-traiteur{
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 50%;
    
}
.text-traiteur h2{
    text-align: center;
    color: #fff;
    font-size: 42px;
}

.text-traiteur p {
    color: #e0e0e0;
}
.text-ins{
    width: 70%;
}
.bg-traiteur{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:#531f036e ;
}

.prestaire-traiteur{
    padding: 30px 10%;
    background-color:#FEFBEA ;
}

.selection{
    display: flex;
    align-items: start;
    flex-direction: column;
    
}
.filtre-content{
    display: flex;
    justify-content:space-between;
    align-items: end;
}
.selection-filter{
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 40px;
}

.filtre-btn button {
    padding: 8px 18px;
    
    background-color: transparent;
    border-radius: 8px;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;


}

.filtre-btn .btn-filtre{
    background-color: #E65100;
    color: #fff;
    border: none;
   
}

.filtre-btn .btn-reinitialiser{
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 8px;
     margin-left: 14px;
}
.selection label{
    font-size: 12px;
    margin-bottom: 4px;
}
.selection select{
     padding: 8px 14px;
     border-radius: 6px;
     

}
.groupe-traiteur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    margin-bottom: 10px;
}
.card-traiteur{
    display: flex;
    height: 180px;
    width: 100%;
    box-shadow: 2px 4px 4px #32303058;
    border-radius: 15px;
  
}
.left-traiteur img{
    width: 380px;
    height:100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}
.left-traiteur{

   position: relative;
}
.valide{
    position: absolute;
    top: 8px;
    right: 5px;
    color: #1F6439;
    font-size: 14px;
    background-color: #DCFBE7;
    padding: 2px 8px;
    border-radius: 20px;
}

.right-traiteur{
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #fff;
    width: 100%;
    padding: 8px 15px;
    border-radius: 0px 10px 10px 0px;
    
}
.badge p{
    width: 80px;
    font-size: 10px;
    border-radius: 16px;
    background-color: #F3F4F6;
    text-align: center;
    padding: 2px 0;
    color:#424950 ;
    
}
.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 6px;
}

.left-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    padding: 10px 0;
}
.left-left p{
    font-size: 12px;
    color: #424950 ;
}
.left-left strong{
    font-size: 14px;

    
}
.left-right{
display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    height: 100%;
     padding: 10px 0;


}
.rt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 12px;

}
.rt p{
    color: #000;
    font-weight: 600;
}
.rt i{
    color: #FACE0E;
}

.voir-plus{

    border: 1px solid #999;
    background-color: #212020;
    border-radius: 8px;
    color: #fff;
    padding: 8px 18px;
    
   
    border-radius: 8px;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;

}
.bt{
    height: 40px;
    width: 100%;
    background-color: #FEFBEA;
}
.formulaire{
    
    background-color: #FEFBEA;
   display: flex;
   align-items: center;
   justify-content: center;
    

}
.form{
    margin-top: 30px;
    background-color: #fff;
    padding: 30px 8%;
    width: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
   

}
.text-footer button a {
    text-decoration: none;
    color: var(--primary);
}
.label-ins{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    
}
.block-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
     width: 100%;
}
.label-ins label {
    font-size: 12px;
    margin-bottom: 6px;
    color: #525966;
}

.label-ins input {
    border-radius: 4px;
    border: 1px solid #59595996;
    padding: 6px 6px;
    width: 100%;
   
}
.label-ins textarea{
    border-radius: 4px;
    border: 1px solid #59595996;
    padding: 6px 6px;
    width: 100%;
    height: 100px;
}
.check{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.check label{
    margin-bottom: 0;
    font-size: 11px;
}
.check input{
    width: 12px;
}
.label-ins p{
    font-size: 12px;
    color: #525966;
}
.block-tt{
    border-radius: 12px;
    box-shadow: 0px 1px 1px #00000023;
    width: 70%;
    padding: 20px 20px ;
}

.block-labint{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
legend{
    font-size: 14px;
    margin-bottom: 12px;
}
.label-ins select{
    width: 100%;
     padding: 8px 14px;
     border-radius: 8px;

}
.left-srv{
   display: flex;
   align-items: start;
   justify-content: start;
   flex-direction: column;
   gap: 8px;
    width: 50%;
}
.srv{
    display: flex;
    align-items: start;
    
    width: 100%;
}
.right-srv{
     display: flex;
   align-items: start;
   justify-content: start;
   flex-direction: column;
   gap: 8px;
   

}

input[type="file"]{
    display: none;
}
.filelabel{
    display: inline-block;
    border: none;
    padding: 8px 8px;
    color: #E65100;
    border-radius: 4px;
    background-color: #FEFBEA;
    cursor: pointer;

}
.fileblock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.fileblock p{
    margin: 0;
}
.fileblock label{
    margin: 0;
    color: #E65100;
    font-weight: 500;
}
.bas-form{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
}
.bas-form button{
     display: inline-block;
    border: none;
    padding: 8px 12px;
    color: #FEFBEA;
    border-radius: 6px;
    background-color: #E65100;
    cursor: pointer;
}
