@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}
:root{
    --primary:#E65100;
    --second:#FFB300;
    --mini-second:#FFF3E0;
}
p{
    font-size: 14px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
}
.logo img {
    width: 100px;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
nav ul li {
    list-style: none;
    

}
nav ul li a {
    text-decoration: none;
    color: #999;
    transition: 0.5;
    font-size: 14px;
    
}
nav ul li a:focus {
    text-decoration: none;
    color: #E65100;
    border-bottom: 2px solid #E65100;
}
.btn-nav button {
    padding: 8px 18px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;


}
.btn-nav .btn-inscription{
    background-color: var(--primary);
    color: #fff;
}
section{
    padding: 70px 8%;
}

.home-section{
    padding:80px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    background: url(images/banner-head-accueil.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.image {
   
    position: relative;
    z-index: 10;
}
.image .dispo {
    border-radius: 25px;
    padding: 2px 8px;
    background-color: #fff3e0cd;
    display: flex;
    
    color: #E65100;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    font-size: 12px;
    right: 12px;

}
.dispo p{
    font-size: 10px;
    font-weight: 500;
}
.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:#531f038b ;
}

.left h1 span{
    color: #FFB300;
    
}.left h1 {
    color: #fff;
    
}
.left p {
    color: #e0e0e0;
    width: 90%;
    
}
.left{
    z-index: 10;
    
    padding: 30px 20px;
    height: 100%;
}
.stat{
    padding: 40px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mini-second);
    gap: 30px;
}
.stat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
   
    border-radius: 20px;
    padding: 20px 10px;
    width: 30%;
}
.stat-card p{
    font-size: 14px;
    color: #4f4f4f;
}
.stat-card h3 {
     color: var(--primary);
}
.service{
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.map svg {
    position: absolute;
    top: -26px;
    right: 200px;
    transform: rotate(3deg);
}
.service .sertop {
    color: #4f4f4f;
}
.service p {
    color: #4f4f4f;
}
.gallery-service{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.service-card{
    display: flex;
    flex-direction: column;
    background-color:#fff3e0a1;
    border-radius: 20px;
    padding: 20px 16px;
    width: 30%;
    
    align-items: start;
    justify-content: space-between;

}
.service-card p {
    font-size: 12px;
}
.service-card a {
    font-size: 12px;
    color: #E65100;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: underline;
}
.service-card h3 {
    font-size: 16px;
    color: var(--primary);
}
.map{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--mini-second);
    justify-content: center;
    position: relative;
}
.avis{
display: flex;
    align-items: center;
    flex-direction: column;
   
    justify-content: space-between;

}
.avis h2 {
    margin-bottom: 30px;
}
.p1{
    background-color: #e7e5e5;
}
.p2{
    background-color: #ffab4cdc;
}
.p3{
    background-color: #ffee2fd1;
}
.p4{
    background-color: #55f22ace;
}
.carte iframe{
    margin-top: 30px;
    border-radius: 20px;
}
.card-avis{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 230px;
    box-shadow: 2px 2px 10px #999;
    padding: 20px;
    border-radius: 10px;

}
.avis-gallery{
    display: flex;
    gap: 30px;
}
.haut-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}
.photo{
    
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #FFB300 ;

}
.photo p{
    font-weight: 600;
}

.nom-card p{
     font-weight: 500;
    
}
.desc-avis {
    font-size: 10px;
    font-style: oblique;
    
}
.nom-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-content: center;
}
.rating{
    display: flex;
    gap: 5px;
    
   
}
.rating i {
    font-size: 10px;
    color: #FFB300;
}
.rating .off {
    
    color: #a3a3a3;
}
.post-footer{
    padding:60px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    background: url(images/banner-head-accueil.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-footer{
    z-index: 100;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 20px;
}
.text-footer h2{
    text-align: center;
    color: #fff;
}
.text-footer button{
    padding: 8px 18px;
    border: none;
    background-color: var(--mini-second);
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 600;
    color: var(--primary);

}
.text-footer p {
    color: #e0e0e0;
}

footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0px 8%;
    
    width: 100%;
    background-color: #14172f;

}
footer .bas-footer{
    display: flex;
    align-items: center;
    padding:20px 0%;
    justify-content: center;
    border-top: 1px solid #999;
    width: 100%;
    color: #999;
    
}
footer .bas-footer p{
    font-size: 10px;
}
footer .haut-footer {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: start;
}
footer .haut-footer .footer-card{
    padding:20px 5px;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    
}
 footer .haut-footer .footer-card ul li a {
    text-decoration: none;
    color: #999;
    font-size: 10px;
}

 footer .haut-footer .footer-card ul li  {
    list-style: none;
}

 footer .haut-footer .footer-card h4  {
    margin-bottom: 5px;
    color: #fff;
}
.foot-logo a i  {
    font-size: 24px;
}
.foot-logo{
    margin-top: 5px;
}